body {
  margin: 40px auto;
  width: 40vw;
  max-width: 470px;
  font-family: 'Gaegu', cursive;
}
h1 {
  color:#383276;
}
a {
  color:#479030;
}
@media screen and (max-width: 700px) {
  body {
    width: 75vw;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 80vw;
  }
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

a.button {
  display: inline-block;
  margin: 12px 0 0 0;
  color: 383276;
  background: #222;
  padding: 10px 15px;
}
a.button:hover {
  opacity: 0.9;
}
